#map {
    display: inline-block; 
    vertical-align: middle; 
    padding-left: 1em;   
}

@media screen and (max-width: 1em) {
    #map {
        display: none;   
    }
}

#location > article {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 24em) {
    .container-item {
        text-align: center;
    }
    aside.container-item {
        display: none;
    }
}