footer {
    position: relative;
    height: 50px;
    width: 100%;
}

p.copyright {
    position: absolute;
    width: 100%;
    line-height: 40px;
    font-size: 0.7em;
    text-align: center;
    bottom:0;
}