#me-thumbnail {
	margin: 1em;
    opacity: 0;
    transition: opacity .75s ease-in-out;
	vertical-align: middle;
	width: 12em;
}

@media screen and (max-width: 32em) {
    #me-thumbnail {
		margin: 0em;
    }
}

#recent {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    flex-flow: wrap row;
    justify-content: center;
    text-align: center;
}

.recent-container {
	background-color: #F0F0F0;
	box-shadow: 1px 1px 5px gray;
    display: flex;
    flex-direction: column;
	font-family: condensed;
    margin: 1em;
    min-width: 12em;
    padding: 1em;
	width: 25%;
}

.recent-thumbnail {
    width: 100%;
}