nav {    
    text-align: center;
    margin-bottom: 2em;
    box-shadow: 0em 0.5em 0.5em #787878;
    background-color: #00571B;
    text-align: center;
}

nav a  {
    display: inline-block;
    color: white;
    font-family: CONDENSED;
    font-size: 1.4em;
    min-width: 5em;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 0.25em solid transparent;
    transition: border-bottom 0.2s ease-in-out;
}

nav a:hover {
    border-bottom: 0.25em solid white;
}

#home nav a.home, 
#publications nav a.publications, 
#contact nav a.contact, 
#resources nav a.resources {
    border-bottom: 0.25em solid white;
}

nav select {
    display: none;
    margin-left: auto;
    margin-right: auto;
    background: #008A2B;
    color: white;
    font-family: CONDENSED;
    font-size: 1.4em;
}

@media screen and (max-width: 46em) {
    nav {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    nav a {
        display: none;   
    }
    nav select {
        display: block;
    }
}