nav {    
	background-color: #00571B;
    box-shadow: 0em 0.5em 0.5em #787878;
    margin-bottom: 2em;
    text-align: center;
}

nav a {
	border-bottom: 0.25em solid transparent;
	color: white;
    display: inline-block;
    font-family: condensed;
    font-size: 1.4em;
    margin-left: 2%;
    margin-right: 2%;
	min-width: 5em;
    padding-bottom: 0.5em;
	padding-top: 0.5em;
    transition: border-bottom 0.2s ease-in-out;
}

nav a:hover {
    border-bottom: 0.25em solid white;
}

nav select {
	background: #008A2B;
    color: white;
    display: none;
	font-family: condensed;
    font-size: 1.4em;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 46em) {
    nav {
        padding-bottom: 0.5em;
		padding-top: 0.5em;
    }
    nav a {
        display: none;   
    }
    nav select {
        display: block;
    }
}

#home nav a.home, 
#publications nav a.publications, 
#portfolio nav a.portfolio, 
#blog nav a.blog, 
#resume nav a.resume {
    border-bottom: 0.25em solid white;
}