.item-links {
    margin-left: auto;
    margin-right: auto;
	max-width: 75%;
	text-align: center;
}

.to-top-link {
	color: green;
    display: inline-block;
    float: right;
    font-size: .5em;
    padding-top: 1em;
}

.view-button {
    height: .75em;
    opacity: .4;
	width: .75em;
}

.view-button:hover {
    opacity: .8;
}

ul.item-list-view {
    display: none;
	list-style-type: none;
}

ul.item-list-view li {
    margin-bottom: 1em;
    margin-right: 1em;
}

.item-thumbnail-view {
	background-color: #F0F0F0;
	box-shadow:1px 1px 5px gray;
	font-family: condensed;
    margin-bottom: 1.5em;
	margin-top: 1.5em;
    padding: 1em;
}

.item-thumbnail {
    opacity: 0;
    transition: opacity .75s ease-in-out;
	vertical-align: middle;
    width: 12em;
}

.item-title {
    color: green;
    font-family: condensed;
    font-weight: bold;
    margin-bottom: .5em;
	margin-top: 0;
}

.item-authors {
    margin-top: .5em;
}

.item-description {
    font-family: condensed;
}

.download {
    display: inline-block;
    margin-bottom: .5em;
	text-align: center;
    vertical-align: top;
	width: 5em;
}

.download-icon {
    height: 3em;
    transition: width .5s ease-in-out,height .5s ease-in-out;
	width: 3em;
}

@media screen and (max-width:32em) {
    article.item-thumbnail-view.container 
    aside.container-item {
        display: none;
        text-align: center;
    }
    .item-inline-thumbnail {
        display: block;
    }
}

.download-description {
	display: block;
	font-family: condensed;
    font-size: .9em;
    margin-bottom: 0;
	margin-top: 0;
}

.download-extension {
    display: block;
    font-size: .8em;
    margin-bottom: 0;
	margin-top: 0;
}

.download-size {
    display: block;
    font-size: .8em;
    margin-bottom: 0;
	margin-top: 0;
}
