.item-links {
    text-align: center;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.to-top-link {
    float: right;
    font-size: .5em;
    padding-top: 1em;
    display: inline-block;
    color: green;
}

.view-button {
    width: .75em;
    height: .75em;
    opacity: .4;
}

.view-button:hover {
    opacity: .8;
}

.item-thumbnailview {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-family: condensed;
    background-color: #f0f0f0;
    padding: 1em;
    box-shadow:1px 1px 5px gray;
}

ul.item-listview {
    display: none;
}

ul.item-listview li {
    margin-bottom: 1em;
    margin-right: 1em;
}

.item-thumbnail {
    vertical-align: middle;
    width: 12em;
    opacity: 0;
    transition: opacity .75s ease-in-out;
}

.item-title {
    margin-top: 0;
    margin-bottom: .5em;
    font-family: condensed;
    font-weight: bold;
    color: green;
}

.item-title-details {
    margin: 0;
    padding: 0;
    font-family: condensed;
    font-weight: bold;
}

.item-authors {
    margin-top: .5em;
}

.item-journal-details {
    font-style: italic;
}

.download {
    display: inline-block;
    text-align: center;
    margin: .5em;
    width: 5em;
    vertical-align: top;
}

.download-icon {
    text-align: center;
    width: 3em;
    height: 3em;
    transition: width .5s ease-in-out,height .5s ease-in-out;
}

@media screen and (max-width:32em) {
    article.item-thumbnailview.container 
    aside.container-item {
        display: none;
    }
    article.item-thumbnailview.container 
    section.container-item {
        text-align: center;
        display: block;
    }
    .item-inline-thumbnail {
        display: block;
    }
}

.download-description {
    display: block;
    font-family: condensed;
    font-size: .9em;
    color: green;
}

.download-extension {
    margin: 0;
    font-size: .8em;
}

.download-size {
    margin: 0;
    font-size: .8em;
}
