.item-links {
    text-align: center;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.to-top-link {
    float: right;
    font-size: .5em;
    padding-top: 1em;
    display: inline-block;
    color: green;
}

.view-button {
    width: .75em;
    height: .75em;
    opacity: .4;
}

.view-button:hover {
    opacity: .8;
}

.item-thumbnail-view {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-family: condensed;
    background-color: #F0F0F0;
    padding: 1em;
    box-shadow:1px 1px 5px gray;
}

ul.item-list-view {
    display: none;
}

ul.item-list-view li {
    margin-bottom: 1em;
    margin-right: 1em;
}

.item-thumbnail {
    vertical-align: middle;
    width: 12em;
    opacity: 0;
    transition: opacity .75s ease-in-out;
}

.item-title {
    margin-top: 0;
    margin-bottom: .5em;
    font-family: condensed;
    font-weight: bold;
    color: green;
}

.item-title-description {
    margin: 0;
    padding: 0;
    font-family: condensed;
    font-weight: bold;
}

.item-authors {
    margin-top: .5em;
}

.item-description-details {
    font-style: italic;
}

.download {
    display: inline-block;
    text-align: center;
    width: 5em;
    margin-bottom: .5em;
    vertical-align: top;
}

.download-icon {
    width: 3em;
    height: 3em;
    transition: width .5s ease-in-out,height .5s ease-in-out;
}

@media screen and (max-width:32em) {
    article.item-thumbnail-view.container 
    aside.container-item {
        display: none;
        text-align: center;
    }
    .item-inline-thumbnail {
        display: block;
    }
}

.download-description {
	display: block;
    margin-top: 0;
    margin-bottom: 0;
	font-family: condensed;
    font-size: .9em;
}

.download-extension {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .8em;
}

.download-size {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .8em;
}
