.profile
{
    clear: both;
	color: #333;
    margin: 10px auto;
    padding: 0.5em 0 0 0;
	text-align: center;
}

.icon-bitbucket,
.icon-deviantart,
.icon-gamedevnet,
.icon-github,
.icon-gitlab,
.icon-gitter,
.icon-goodreads,
.icon-linkedin,
.icon-mail,
.icon-orcid,
.icon-readit,
.icon-researchgate,
.icon-shadertoy,
.icon-skype,
.icon-slideshare,
.icon-stackexchange,
.icon-twitter,
.icon-youtube
{
    display: inline-block;
    margin: 2px;
    height: 40px;
	width: 40px;
}

.icon-bitbucket:hover,
.icon-deviantart:hover,
.icon-gamedevnet:hover,
.icon-github:hover,
.icon-gitlab:hover,
.icon-gitter:hover,
.icon-goodreads:hover,
.icon-linkedin:hover,
.icon-mail:hover,
.icon-orcid:hover,
.icon-readit:hover,
.icon-researchgate:hover,
.icon-shadertoy:hover,
.icon-skype:hover,
.icon-slideshare:hover,
.icon-stackexchange:hover,
.icon-twitter:hover,
.icon-youtube:hover
{
    background-position: bottom right;
}

.icon-bitbucket
{
    background: transparent url('../res/Icons/icon-bitbucket.png') top left no-repeat;
}
.icon-deviantart
{
    background: transparent url('../res/Icons/icon-deviantart.png') top left no-repeat;
}
.icon-gamedevnet
{
    background: transparent url('../res/Icons/icon-gamedevnet.png') top left no-repeat;
}
.icon-github
{
    background: transparent url('../res/Icons/icon-github.png') top left no-repeat;
}
.icon-gitlab
{
    background: transparent url('../res/Icons/icon-gitlab.png') top left no-repeat;
}
.icon-gitter
{
    background: transparent url('../res/Icons/icon-gitter.png') top left no-repeat;
}
.icon-goodreads
{
    background: transparent url('../res/Icons/icon-goodreads.png') top left no-repeat;
}
.icon-linkedin
{
    background: transparent url('../res/Icons/icon-linkedin.png') top left no-repeat;
}
.icon-mail
{
    background: transparent url('../res/Icons/icon-mail.png') top left no-repeat;
}
.icon-orcid
{
    background: transparent url('../res/Icons/icon-orcid.png') top left no-repeat;
}
.icon-readit
{
    background: transparent url('../res/Icons/icon-readit.png') top left no-repeat;
}
.icon-researchgate
{
    background: transparent url('../res/Icons/icon-researchgate.png') top left no-repeat;
}
.icon-shadertoy
{
    background: transparent url('../res/Icons/icon-shadertoy.png') top left no-repeat;
}
.icon-skype
{
    background: transparent url('../res/Icons/icon-skype.png') top left no-repeat;
}
.icon-slideshare
{
    background: transparent url('../res/Icons/icon-slideshare.png') top left no-repeat;
}
.icon-stackexchange
{
    background: transparent url('../res/Icons/icon-stackexchange.png') top left no-repeat;
}
.icon-twitter
{
    background: transparent url('../res/Icons/icon-twitter.png') top left no-repeat;
}
.icon-youtube
{
    background: transparent url('../res/Icons/icon-youtube.png') top left no-repeat;
}