.profile {
    clear: both;
    max-width: 820px;
    margin: 10px auto;
    color: #333;
    text-align: center;
    padding: 0.5em 0 0 0;
}


.icon-bitbucket,
.icon-gamedevnet,
.icon-github,
.icon-gitlab,
.icon-gitter,
.icon-goodreads,
.icon-linkedin,
.icon-mail,
.icon-orcid,
.icon-readit,
.icon-researchgate,
.icon-skype,
.icon-twitter,
.icon-youtube {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 2px;
}

.icon-bitbucket:hover,
.icon-gamedevnet:hover,
.icon-github:hover,
.icon-gitlab:hover,
.icon-gitter:hover,
.icon-goodreads:hover,
.icon-linkedin:hover,
.icon-mail:hover,
.icon-orcid:hover,
.icon-readit:hover,
.icon-researchgate:hover,
.icon-skype:hover,
.icon-twitter:hover,
.icon-youtube:hover {
    background-position: bottom right;
}

.icon-bitbucket {
    background: transparent url('../res/Icons/icon-bitbucket.png') top left no-repeat;
}
.icon-gamedevnet {
    background: transparent url('../res/Icons/icon-gamedevnet.png') top left no-repeat;
}
.icon-github {
    background: transparent url('../res/Icons/icon-github.png') top left no-repeat;
}
.icon-gitlab {
    background: transparent url('../res/Icons/icon-gitlab.png') top left no-repeat;
}
.icon-gitter {
    background: transparent url('../res/Icons/icon-gitter.png') top left no-repeat;
}
.icon-goodreads {
    background: transparent url('../res/Icons/icon-goodreads.png') top left no-repeat;
}
.icon-linkedin {
    background: transparent url('../res/Icons/icon-linkedin.png') top left no-repeat;
}
.icon-mail {
    background: transparent url('../res/Icons/icon-mail.png') top left no-repeat;
}
.icon-orcid {
    background: transparent url('../res/Icons/icon-orcid.png') top left no-repeat;
}
.icon-readit {
    background: transparent url('../res/Icons/icon-readit.png') top left no-repeat;
}
.icon-researchgate {
    background: transparent url('../res/Icons/icon-researchgate.png') top left no-repeat;
}
.icon-skype {
    background: transparent url('../res/Icons/icon-skype.png') top left no-repeat;
}
.icon-twitter {
    background: transparent url('../res/Icons/icon-twitter.png') top left no-repeat;
}
.icon-youtube {
    background: transparent url('../res/Icons/icon-youtube.png') top left no-repeat;
}
