body {
    color: #555;
    font-family: "condensed";
    background-color: white;
    font-size: 100%;
    text-align: left;
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:54em) {
    body {
        margin-left: 2em;
        margin-right: 2em;
    }
}

a {
    color: green;
    text-decoration: none;
}

h1 {
    margin-top: .5em;
    margin-bottom: .5em;
    text-align: center;
}

@media screen and (max-width:32em) {
    h1 {
        font-size: 1.5em;
    }
}

h3 {
    margin-top: .5em;
    margin-bottom: .5em;
}

#proceedings {
    font-size: 90%;
    font-style: italic;
    text-align: center;
}

#authorlist {
    text-align: center;
}

.author {
    display: inline-block;
    width: 10em;
    margin: .5em;
}

#graphicslink {
    text-align: center;
    margin-bottom: 2em;
}

#dedication {
	font-style: italic;
    text-align: center;
}

#banner {
	width: 100%;
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 5px;
}

#teaser {
	width: 100%;
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 5px;
}

.abstract {
    text-align: justify;
}

.container {
    margin-bottom: 4em;
}

.download-item {
    display: inline-block;
    text-align: center;
    width: 6em;
    margin-bottom: .5em;
    vertical-align: top;
}

.download-item-icon {
    width: 3em;
    height: 3em;
}

.download-item-name {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .9em;
}

.download-item-extension {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .8em;
}

.download-item-size {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: .8em;
}