body{
    color:#555;
    font-family:"Times New Roman";
    background-color:snow;
    font-size:100%;
    text-align:left;
    max-width:50em;
    margin-left:auto;
    margin-right:auto
}

@media screen and (max-width:54em){
    body{
        margin-left:2em;
        margin-right:2em
    }
}

a{
    color:darkblue;
    text-decoration:none
}

h1{
    margin-top:.5em;
    margin-bottom:.5em;
    text-align:center
}

@media screen and (max-width:32em){
    h1{
        font-size:1.5em
    }

}

#proceedings{
     font-size:90%;
     font-style:italic;
     text-align:center
}

#authorlist{
    text-align:center
}

#graphicslink{
    text-align:center;
    margin-bottom:2em
}

h3{
    margin-top:.5em;
    margin-bottom:.5em
}

.container{
    margin-bottom:4em
}

#abstract{
    text-align:justify
}

#teaser{
    width:75%;
    max-width:50em;
    display:block;
    margin-top:1em;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:1em;
    box-shadow:1px 1px 5px #999;
    padding:5px;
    border:solid 1px #CCC
}

.author{
    display:inline-block;
    width:10em;
    margin:.5em
}

.download-item{
    display:inline-block;
    text-align:center;
    width:6em;
    margin-left:.5em;
    margin-right:.5em;
    margin-bottom:.5em;
    vertical-align:top
}

.download-item-icon{
    width:3em;
    height:3em
}

.download-item-name{
    display:block;
    margin-top:0;
    margin-bottom:0;
    font-size:.9em
}

.download-item-extension{
    display:block;
    margin-top:0;
    margin-bottom:0;
    font-size:.8em
}

.download-item-size{
    display:block;
    margin-top:0;
    margin-bottom:0;
    font-size:.8em
}

#footer{
    display:table;
    width:100%;
    table-layout:fixed
}

#footer-authors{
    display:table-cell;
    margin-top:0;
    font-size:.8em
}
                                                    
#footer-date{
    display:table-cell;
    margin-top:0;
    font-size:.8em;
    text-align:right
}